week-02-spss-data-quality-and-descriptive-statistics/data/Iris_Cleaned.sav
week-02-spss-data-quality-and-descriptive-statistics/data/Iris_Cleaned.csv
week-02-spss-data-quality-and-descriptive-statistics/data/Weather_Cleaned.sav
week-02-spss-data-quality-and-descriptive-statistics/data/Weather_Cleaned.csv
week-02-spss-data-quality-and-descriptive-statistics/data/Iris_Modified.csv
week-02-spss-data-quality-and-descriptive-statistics/data/weather.xlsx
*.spv
